<div class="page-content" ng-controller="LampCategoryListController">
						<div class="page-header">
							<h1 class="pull-left">
								灯珠分类
							</h1>
							<a class="pull-right" ng-href="#lampCategoryAdd">添加分类</a>
							<br>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover" id="sample-table-1">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input type="checkbox" class="ace">
																<span class="lbl"></span>
															</label>
														</th>
														<th>ID</th>
														<th>灯珠代号</th>
														<th>操作</th>
													</tr>
												</thead>

												<tbody>
												
													<tr ng-repeat="v in lampCategory">
														<td class="center">
															<label>
																<input type="checkbox" class="ace">
																<span class="lbl"></span>
															</label>
														</td>

														<td>{{v.id}}</td>
														<td>{{v.lamp_code}}</td>
														<td>
															<button class="btn btn-xs btn-danger" ng-click="deleteCategory(v.id)">
																<i class="icon-trash bigger-110"></i>
															</button>
														</td>
													</tr>

												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->

								<div class="row">
								<tm-pagination conf="paginationConf"></tm-pagination>
								</div>

								
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div>